.container{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.creationPanel{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 10px;
}

.controlsRow{
    display: flex;
    gap: 5px;
}

.fieldGroup{
    display: flex;
    gap: 5px;
}