.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

/* Базовый стиль для всех кнопок */
.btn {
    border: 1px solid #ccc;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

/* Специфичные стили */
.operator {
    background-color: #f0f0f0;
    color: orange;
}

.equal {
    background-color: orange;
    color: white;
    grid-row: span 2;
}

.zero {
    grid-column: span 4;
}

.clear, .backspace {
    color: red;
}